---
title: "Verification methods"
---
- if platforms won't verify identity, anyone could hide behind an avatar
- advanced verification will need to be in place to ensure identity
- ie. biometrics - voice recognition, face recognition